<div class="overlay">
  <ng-content></ng-content>
    <!--<div class="container overlay-button">
        <div class="row d-flex justify-content-center">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group btn-group-justified" role="group">
                    <button id="list" class="btn btn-primary" data-original-title="Refreshr"><fa-icon [icon]="['fas', 'coffee']"></fa-icon></button>
                    <button id="new" class="btn btn-primary" data-original-title="New"><fa-icon [icon]="['fas', 'coffee']"></fa-icon></button>
                    <button id="passreset" class="btn btn-primary" data-original-title="Password Reset"><fa-icon [icon]="['fas', 'coffee']"></fa-icon></button>
                    <button id="desact" class="btn btn-primary" data-original-title="Deactivate"><fa-icon [icon]="['fas', 'coffee']"></fa-icon></button>
                    <button id="react" class="btn btn-primary disabled" data-original-title="Activate"><fa-icon [icon]="['fas', 'coffee']"></fa-icon></button>
                    <button id="delete" class="btn btn-warning" data-original-title="Delete"><fa-icon [icon]="['fas', 'coffee']"></fa-icon></button>
                </div>
            </div>
        </div>
    </div>
    <div class="container overlay-button">
        <div class="row d-flex flex-column justify-content-center">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group-vertical btn-group-justified" role="group">
                    <button id="list" class="btn btn-primary" data-original-title="Refreshr"><fa-icon [icon]="['fas', 'coffee']"></fa-icon></button>
                    <button id="new" class="btn btn-primary" data-original-title="New"><fa-icon [icon]="['fas', 'coffee']"></fa-icon></button>
                    <button id="passreset" class="btn btn-primary" data-original-title="Password Reset"><fa-icon [icon]="['fas', 'coffee']"></fa-icon></button>
                    <input type="range" class="custom-range" id="customRange1">
                    <button id="desact" class="btn btn-primary" data-original-title="Deactivate"><fa-icon [icon]="['fas', 'coffee']"></fa-icon></button>
                    <button id="react" class="btn btn-primary disabled" data-original-title="Activate"><fa-icon [icon]="['fas', 'coffee']"></fa-icon></button>
                    <button id="delete" class="btn btn-warning" data-original-title="Delete"><fa-icon [icon]="['fas', 'coffee']"></fa-icon></button>
                </div>
            </div>
        </div>
    </div>
    <a class="overlay-button" href='http://google.com' target='google'>I'm some text</a>
    <footer>I'm a footer</footer>-->
</div>
